In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Pasting the installed msedge path
driver=webdriver.Edge(r'C:\Users\satvi\Downloads\edgedriver_win64\msedgedriver')

### Yatra.com

In [3]:
#getting the url
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=12%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=97063523299&version=1.1&viewName=normal"
driver.get(url)
time.sleep(2)

In [4]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dotted-borderbtm" or @class="cursor-default"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature_time=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in time:
        depature_time.append(i.text)
except NoSuchElementException:
    depature_time.append('-')
#Arrival time
arrival_time=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in time:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('-')
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="pr i-b mr-2"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'12/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Air Asia,12/11/2021,New Delhi,Mumbai,20:00,02:25\n+ 1 day,6h 25m,1 Stop,"5,953"
1,Air Asia,12/11/2021,New Delhi,Mumbai,21:25,06:45\n+ 1 day,9h 20m,1 Stop,"5,953"
2,Air Asia,12/11/2021,New Delhi,Mumbai,21:25,07:15\n+ 1 day,9h 50m,1 Stop,"5,953"
3,Air Asia,12/11/2021,New Delhi,Mumbai,20:45,06:45\n+ 1 day,10h 00m,1 Stop,"5,953"
4,Air Asia,12/11/2021,New Delhi,Mumbai,20:45,07:15\n+ 1 day,10h 30m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
165,Go First,12/11/2021,New Delhi,Mumbai,10:45,18:20,7h 35m,1 Stop,"1 left at16,245"
166,Go First,12/11/2021,New Delhi,Mumbai,10:45,19:40,8h 55m,1 Stop,"1 left at16,981"
167,Go First,12/11/2021,New Delhi,Mumbai,12:20,18:10,5h 50m,1 Stop,"1 left at21,689"
168,Go First,12/11/2021,New Delhi,Mumbai,11:50,18:10,6h 20m,1 Stop,"1 left at21,689"
169,Go First,12/11/2021,New Delhi,Mumbai,09:15,18:10,8h 55m,1 Stop,"1 left at21,689"

In [5]:
#getting the url
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1635754693248&viewName=normal"
driver.get(url)

In [6]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dotted-borderbtm" or @class="cursor-default"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature_time=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in time:
        depature_time.append(i.text)
except NoSuchElementException:
    depature_time.append('-')
#Arrival time
arrival_time=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in time:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('-')
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="pr i-b mr-2"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df1= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'5/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df1

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Go First,5/11/2021,New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,954"
1,Go First,5/11/2021,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,954"
2,Go First,5/11/2021,New Delhi,Mumbai,22:30,00:40\n+ 1 day,2h 10m,Non Stop,"5,954"
3,Go First,5/11/2021,New Delhi,Mumbai,02:00,04:15,2h 15m,Non Stop,"5,954"
4,Go First,5/11/2021,New Delhi,Mumbai,14:20,16:35,2h 15m,Non Stop,"5,954"
...,...,...,...,...,...,...,...,...,...
164,Air India,5/11/2021,New Delhi,Mumbai,09:45,17:05,7h 20m,1 Stop,"16,455"
165,Go First,5/11/2021,New Delhi,Mumbai,06:00,12:30,6h 30m,1 Stop,"16,533"
166,Air India,5/11/2021,New Delhi,Mumbai,20:40,08:05\n+ 1 day,11h 25m,1 Stop,"1 left at17,715"
167,Air India,5/11/2021,New Delhi,Mumbai,09:45,23:20,13h 35m,1 Stop,"1 left at18,030"
168,Air India,5/11/2021,New Delhi,Mumbai,09:45,09:40\n+ 1 day,23h 55m,1 Stop,"1 left at18,030"

In [7]:
#getting the url
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=05%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1581283319183&version=1.1&viewName=normal"
driver.get(url)

In [8]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dotted-borderbtm" or @class="cursor-default"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature_time=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in time:
        depature_time.append(i.text)
except NoSuchElementException:
    depature_time.append('-')
#Arrival time
arrival_time=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in time:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('-')
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="pr i-b mr-2"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df2= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'5/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df2

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Air Asia,5/11/2021,New Delhi,Bangalore,16:05,20:40,4h 35m,1 Stop,"7,423"
1,Air Asia,5/11/2021,New Delhi,Bangalore,09:25,14:40,5h 15m,1 Stop,"7,423"
2,Air Asia,5/11/2021,New Delhi,Bangalore,15:25,20:40,5h 15m,1 Stop,"7,423"
3,Air Asia,5/11/2021,New Delhi,Bangalore,05:00,11:35,6h 35m,1 Stop,"7,423"
4,Air Asia,5/11/2021,New Delhi,Bangalore,09:25,17:00,7h 35m,2 Stop(s),"7,423"
...,...,...,...,...,...,...,...,...,...
148,Vistara,5/11/2021,New Delhi,Bangalore,06:15,17:45,11h 30m,2 Stop(s),"18,804"
149,Go First,5/11/2021,New Delhi,Bangalore,10:45,15:10,4h 25m,1 Stop,"19,450"
150,Air India,5/11/2021,New Delhi,Bangalore,20:15,23:20\n+ 1 day,27h 05m,1 Stop,"21,285"
151,Vistara,5/11/2021,New Delhi,Bangalore,11:10,16:00,4h 50m,1 Stop,"21,390"
152,Air India,5/11/2021,New Delhi,Bangalore,10:35,23:55,13h 20m,1 Stop,"2 left at21,526"

### easemytrip.com

In [9]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India&dept=BLR-Bangalore,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=5/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [11]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df3= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'5/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df3

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,SpiceJet,5/11/2021,Delhi,Bangalore,05:35,08:05,02h 30m,non-stop,"7,425"
1,Indigo,5/11/2021,Delhi,Bangalore,06:10,08:50,02h 40m,non-stop,"7,425"
2,SpiceJet,5/11/2021,Delhi,Bangalore,20:10,22:55,02h 45m,non-stop,"7,425"
3,SpiceJet,5/11/2021,Delhi,Bangalore,22:20,01:05,02h 45m,non-stop,"7,425"
4,Indigo,5/11/2021,Delhi,Bangalore,07:20,10:15,02h 55m,non-stop,"7,425"
...,...,...,...,...,...,...,...,...,...
178,GO FIRST,5/11/2021,Delhi,Bangalore,10:45,15:10,04h 25m,1-stop,"19,450"
179,Vistara,5/11/2021,Delhi,Bangalore,17:10,18:15,25h 05m,1-stop,"19,868"
180,Air India,5/11/2021,Delhi,Bangalore,20:15,23:20,27h 05m,1-stop,"21,285"
181,Vistara,5/11/2021,Delhi,Bangalore,11:10,16:00,04h 50m,1-stop,"21,390"
182,Air India,5/11/2021,Delhi,Bangalore,10:35,23:55,13h 20m,1-stop,"21,526"

In [12]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India&dept=BLR-Bangalore,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=4/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [13]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df4= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df4

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,SpiceJet,4/11/2021,Delhi,Bangalore,05:35,08:05,02h 30m,non-stop,"7,425"
1,Indigo,4/11/2021,Delhi,Bangalore,06:10,08:50,02h 40m,non-stop,"7,425"
2,SpiceJet,4/11/2021,Delhi,Bangalore,20:10,22:55,02h 45m,non-stop,"7,425"
3,Indigo,4/11/2021,Delhi,Bangalore,07:20,10:15,02h 55m,non-stop,"7,425"
4,Indigo,4/11/2021,Delhi,Bangalore,08:20,11:15,02h 55m,non-stop,"7,425"
...,...,...,...,...,...,...,...,...,...
169,Air India,4/11/2021,Delhi,Bangalore,06:50,16:45,09h 55m,1-stop,"16,875"
170,Vistara,4/11/2021,Delhi,Bangalore,10:20,17:00,06h 40m,1-stop,"16,928"
171,Vistara,4/11/2021,Delhi,Bangalore,09:30,17:00,07h 30m,1-stop,"16,928"
172,SpiceJet,4/11/2021,Delhi,Bangalore,06:30,12:50,06h 20m,1-stop,"17,816"
173,Air India,4/11/2021,Delhi,Bangalore,16:45,23:55,07h 10m,1-stop,"21,526"

In [14]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India&dept=BLR-Bangalore,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=4/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [15]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df5= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/12/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df5

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,SpiceJet,4/12/2021,Delhi,Bangalore,06:15,21:10,14h 55m,1-stop,"3,750"
1,SpiceJet,4/12/2021,Delhi,Bangalore,17:45,16:25,22h 40m,1-stop,"3,895"
2,SpiceJet,4/12/2021,Delhi,Bangalore,17:45,16:55,23h 10m,1-stop,"3,895"
3,SpiceJet,4/12/2021,Delhi,Bangalore,18:25,21:10,26h 45m,1-stop,"3,960"
4,Indigo,4/12/2021,Delhi,Bangalore,06:45,11:50,05h 05m,1-stop,"4,007"
...,...,...,...,...,...,...,...,...,...
190,Vistara,4/12/2021,Delhi,Bangalore,09:40,20:45,11h 05m,1-stop,"12,371"
191,SpiceJet,4/12/2021,Delhi,Bangalore,08:35,09:00,24h 25m,1-stop,"12,394"
192,AirAsia,4/12/2021,Delhi,Bangalore,10:05,18:20,08h 15m,1-stop,"12,577"
193,Vistara,4/12/2021,Delhi,Bangalore,11:10,16:00,04h 50m,1-stop,"15,820"
194,GO FIRST,4/12/2021,Delhi,Bangalore,10:45,15:10,04h 25m,1-stop,"23,651"

In [16]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=4/12/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [17]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df6= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/12/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df6

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,4/12/2021,Bangalore,Mumbai,05:45,07:20,01h 35m,non-stop,"2,202"
1,Indigo,4/12/2021,Bangalore,Mumbai,04:30,06:10,01h 40m,non-stop,"2,202"
2,GO FIRST,4/12/2021,Bangalore,Mumbai,08:10,09:50,01h 40m,non-stop,"2,202"
3,AirAsia,4/12/2021,Bangalore,Mumbai,18:50,20:35,01h 45m,non-stop,"2,202"
4,Indigo,4/12/2021,Bangalore,Mumbai,06:00,07:50,01h 50m,non-stop,"2,202"
...,...,...,...,...,...,...,...,...,...
177,Vistara,4/12/2021,Bangalore,Mumbai,07:00,16:00,09h 00m,1-stop,"11,476"
178,GO FIRST,4/12/2021,Bangalore,Mumbai,08:15,23:30,15h 15m,1-stop,"13,127"
179,Vistara,4/12/2021,Bangalore,Mumbai,09:45,18:20,08h 35m,1-stop,"13,866"
180,Vistara,4/12/2021,Bangalore,Mumbai,10:15,21:35,11h 20m,1-stop,"17,674"
181,Vistara,4/12/2021,Bangalore,Mumbai,10:15,20:05,09h 50m,1-stop,"17,740"

In [18]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=CCU-Kolkata,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=04/11/2021&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [19]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df7= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/11/2021','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df7

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Indigo,4/11/2021,Kolkata,Mumbai,07:15,16:25,09h 10m,1-stop,"7,695"
1,GO FIRST,4/11/2021,Kolkata,Mumbai,14:20,20:25,06h 05m,1-stop,"7,696"
2,GO FIRST,4/11/2021,Kolkata,Mumbai,06:00,12:50,06h 50m,1-stop,"7,696"
3,GO FIRST,4/11/2021,Kolkata,Mumbai,14:20,21:55,07h 35m,1-stop,"7,696"
4,GO FIRST,4/11/2021,Kolkata,Mumbai,14:20,23:15,08h 55m,1-stop,"7,696"
...,...,...,...,...,...,...,...,...,...
112,Vistara,4/11/2021,Kolkata,Mumbai,10:15,18:20,08h 05m,1-stop,"16,258"
113,Vistara,4/11/2021,Kolkata,Mumbai,07:10,18:20,11h 10m,1-stop,"16,258"
114,Vistara,4/11/2021,Kolkata,Mumbai,10:15,20:15,10h 00m,1-stop,"16,400"
115,Vistara,4/11/2021,Kolkata,Mumbai,10:15,20:40,10h 25m,1-stop,"16,400"
116,Vistara,4/11/2021,Kolkata,Mumbai,10:15,22:35,12h 20m,1-stop,"17,240"

In [20]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=CCU-Kolkata,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=04/01/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [21]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df8= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/01/2022','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df8

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Indigo,4/01/2022,Kolkata,Mumbai,19:55,05:50,09h 55m,1-stop,"4,120"
1,Indigo,4/01/2022,Kolkata,Mumbai,09:05,19:15,10h 10m,1-stop,"4,120"
2,Air India,4/01/2022,Kolkata,Mumbai,09:40,12:25,02h 45m,non-stop,"4,253"
3,Air India,4/01/2022,Kolkata,Mumbai,16:55,19:45,02h 50m,non-stop,"4,253"
4,Air India,4/01/2022,Kolkata,Mumbai,13:00,16:45,03h 45m,1-stop,"4,253"
...,...,...,...,...,...,...,...,...,...
134,Vistara,4/01/2022,Kolkata,Mumbai,10:15,21:50,11h 35m,1-stop,"10,284"
135,GO FIRST,4/01/2022,Kolkata,Mumbai,16:25,21:25,05h 00m,1-stop,"11,040"
136,Vistara,4/01/2022,Kolkata,Mumbai,07:10,16:00,08h 50m,1-stop,"12,399"
137,Vistara,4/01/2022,Kolkata,Mumbai,10:15,11:30,25h 15m,1-stop,"12,518"
138,Vistara,4/01/2022,Kolkata,Mumbai,10:15,21:35,11h 20m,1-stop,"13,220"

In [22]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=4/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [23]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df9= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/02/2022','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df9

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,4/02/2022,Bangalore,Mumbai,05:45,07:20,01h 35m,non-stop,"2,202"
1,Indigo,4/02/2022,Bangalore,Mumbai,04:30,06:10,01h 40m,non-stop,"2,202"
2,AirAsia,4/02/2022,Bangalore,Mumbai,05:35,07:15,01h 40m,non-stop,"2,202"
3,GO FIRST,4/02/2022,Bangalore,Mumbai,08:10,09:50,01h 40m,non-stop,"2,202"
4,AirAsia,4/02/2022,Bangalore,Mumbai,18:50,20:35,01h 45m,non-stop,"2,202"
...,...,...,...,...,...,...,...,...,...
179,Vistara,4/02/2022,Bangalore,Mumbai,07:00,22:00,15h 00m,1-stop,"11,383"
180,Vistara,4/02/2022,Bangalore,Mumbai,09:45,18:20,08h 35m,1-stop,"14,871"
181,Vistara,4/02/2022,Bangalore,Mumbai,07:00,16:00,09h 00m,1-stop,"15,153"
182,Vistara,4/02/2022,Bangalore,Mumbai,10:15,21:35,11h 20m,1-stop,"15,154"
183,Vistara,4/02/2022,Bangalore,Mumbai,10:15,20:05,09h 50m,1-stop,"16,420"

In [24]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=MAA-Chennai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=4/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [26]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df10= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/02/2022','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df10

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia,4/02/2022,Bangalore,Chennai,15:35,16:30,00h 55m,non-stop,"1,604"
1,AirAsia,4/02/2022,Bangalore,Chennai,07:30,08:30,01h 00m,non-stop,"1,604"
2,AirAsia,4/02/2022,Bangalore,Chennai,16:15,17:25,01h 10m,non-stop,"1,604"
3,Indigo,4/02/2022,Bangalore,Chennai,18:15,19:15,01h 00m,non-stop,"1,606"
4,Indigo,4/02/2022,Bangalore,Chennai,10:55,12:00,01h 05m,non-stop,"1,606"
...,...,...,...,...,...,...,...,...,...
90,Vistara,4/02/2022,Bangalore,Chennai,11:30,23:05,11h 35m,2+-stop,"16,770"
91,Vistara,4/02/2022,Bangalore,Chennai,08:00,19:55,11h 55m,2+-stop,"16,770"
92,Vistara,4/02/2022,Bangalore,Chennai,11:30,23:05,11h 35m,2+-stop,"16,948"
93,Vistara,4/02/2022,Bangalore,Chennai,10:15,20:15,10h 00m,2+-stop,"17,535"
94,Vistara,4/02/2022,Bangalore,Chennai,12:45,20:15,31h 30m,2+-stop,"17,977"

In [27]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=MAA-Chennai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=01/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [28]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//span[@class="txt-r3-n ng-binding"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df11= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/01/2022','Source':Source,'Destination':destination,'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df11

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia,4/01/2022,Bangalore,Chennai,12:50,13:45,00h 55m,non-stop,"1,604"
1,AirAsia,4/01/2022,Bangalore,Chennai,15:35,16:30,00h 55m,non-stop,"1,604"
2,AirAsia,4/01/2022,Bangalore,Chennai,07:30,08:30,01h 00m,non-stop,"1,604"
3,AirAsia,4/01/2022,Bangalore,Chennai,16:15,17:25,01h 10m,non-stop,"1,604"
4,Indigo,4/01/2022,Bangalore,Chennai,10:55,12:00,01h 05m,non-stop,"1,606"
...,...,...,...,...,...,...,...,...,...
92,Vistara,4/01/2022,Bangalore,Chennai,11:30,23:05,11h 35m,2+-stop,"16,770"
93,Vistara,4/01/2022,Bangalore,Chennai,11:30,23:05,11h 35m,2+-stop,"16,770"
94,Vistara,4/01/2022,Bangalore,Chennai,11:30,23:05,11h 35m,2+-stop,"16,770"
95,Vistara,4/01/2022,Bangalore,Chennai,08:00,19:55,11h 55m,2+-stop,"16,770"
96,Vistara,4/01/2022,Bangalore,Chennai,10:15,20:15,10h 00m,2+-stop,"17,535"

### via.com

In [29]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad&sourceCity=&sourceCN=&month=11&day=4&year=2021&date=11/4/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [30]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df12= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'4/11/2021','Source':Source[:81],'Destination':destination[:81],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df12

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Star Air,4/11/2021,HYD Hyderabad,BLR Bangalore,20:20,21:25,1h 5m Non-Stop,Non-Stop,"4,452"
1,AirIndia,4/11/2021,Hyderabad,Bangalore,09:20,10:25,1h 5m Non-Stop,Non-Stop,"4,453"
2,IndiGo,4/11/2021,Hyderabad,Bangalore,19:40,20:45,1h 5m Non-Stop,Non-Stop,"4,453"
3,IndiGo,4/11/2021,Hyderabad,Bangalore,09:30,10:45,1h 15m Non-Stop,Non-Stop,"4,453"
4,IndiGo,4/11/2021,Hyderabad,Bangalore,21:35,22:50,1h 15m Non-Stop,Non-Stop,"4,453"
...,...,...,...,...,...,...,...,...,...
76,Star Air,4/11/2021,Hyderabad,Bangalore,08:35,13:40,5h 5m 1 Stop(s),1 Stop(s),"18,198"
77,Star Air,4/11/2021,Hyderabad,Bangalore,08:35,13:40,5h 5m 1 Stop(s),1 Stop(s),"18,398"
78,AirIndia,4/11/2021,Hyderabad,Bangalore,08:25,11:10,26h 45m 1 Stop(s),1 Stop(s),"20,974"
79,AirIndia,4/11/2021,Hyderabad,Bangalore,11:15,20:05,8h 50m 1 Stop(s),1 Stop(s),"27,682"
80,AirIndia,4/11/2021,Hyderabad,Bangalore,11:15,23:55,12h 40m 1 Stop(s),1 Stop(s),"27,682"

In [31]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad&sourceCity=&sourceCN=&month=12&day=8&year=2021&date=12/8/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [34]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df13= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'8/12/2021','Source':Source[:120],'Destination':destination[:120],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df13

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,8/12/2021,HYD Hyderabad,BLR Bangalore,05:15,06:15,1h 0m Non-Stop,Non-Stop,"1,802"
1,AirAsia India,8/12/2021,Hyderabad,Bangalore,22:10,23:10,1h 0m Non-Stop,Non-Stop,"1,802"
2,IndiGo,8/12/2021,Hyderabad,Bangalore,17:05,18:10,1h 5m Non-Stop,Non-Stop,"1,802"
3,AirAsia India,8/12/2021,Hyderabad,Bangalore,00:45,01:55,1h 10m Non-Stop,Non-Stop,"1,802"
4,AirAsia India,8/12/2021,Hyderabad,Bangalore,14:20,15:30,1h 10m Non-Stop,Non-Stop,"1,802"
...,...,...,...,...,...,...,...,...,...
115,AirIndia,8/12/2021,Hyderabad,Bangalore,16:15,11:10,18h 55m 2 Stop(s),2 Stop(s),"8,713"
116,GO FIRST,8/12/2021,Hyderabad,Bangalore,09:00,14:55,5h 55m 1 Stop(s),1 Stop(s),"9,038"
117,Vistara,8/12/2021,Hyderabad,Bangalore,20:35,17:05,20h 30m 1 Stop(s),1 Stop(s),"11,323"
118,Vistara,8/12/2021,Hyderabad,Bangalore,17:40,17:05,23h 25m 1 Stop(s),1 Stop(s),"11,323"
119,GO FIRST,8/12/2021,Hyderabad,Bangalore,19:30,07:45,12h 15m 1 Stop(s),1 Stop(s),"12,861"

In [35]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=11&day=11&year=2021&date=11/11/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [38]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df14= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'11/11/2021','Source':Source[:123],'Destination':destination[:123],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df14

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,11/11/2021,BLR Bangalore,BOM Mumbai,20:45,02:25,5h 40m 1 Stop(s),1 Stop(s),"5,176"
1,AirAsia India,11/11/2021,Bangalore,Mumbai,00:45,06:35,5h 50m 1 Stop(s),1 Stop(s),"5,176"
2,AirAsia India,11/11/2021,Bangalore,Mumbai,00:10,06:35,6h 25m 1 Stop(s),1 Stop(s),"5,176"
3,AirAsia India,11/11/2021,Bangalore,Mumbai,13:10,19:35,6h 25m 1 Stop(s),1 Stop(s),"5,176"
4,AirAsia India,11/11/2021,Bangalore,Mumbai,12:55,19:35,6h 40m 1 Stop(s),1 Stop(s),"5,176"
...,...,...,...,...,...,...,...,...,...
118,GO FIRST,11/11/2021,Bangalore,Mumbai,07:40,16:35,8h 55m 1 Stop(s),1 Stop(s),"13,500"
119,AirIndia,11/11/2021,Bangalore,Mumbai,09:00,22:25,13h 25m 2 Stop(s),2 Stop(s),"15,312"
120,GO FIRST,11/11/2021,Bangalore,Mumbai,06:30,12:30,6h 0m 1 Stop(s),1 Stop(s),"18,696"
121,GO FIRST,11/11/2021,Bangalore,Mumbai,06:30,15:20,8h 50m 1 Stop(s),1 Stop(s),"18,696"
122,AirIndia,11/11/2021,Bangalore,Mumbai,17:45,16:45,23h 0m 1 Stop(s),1 Stop(s),"26,126"

In [39]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi,Delhi&sourceCity=Delhi&sourceCN=India&month=12&day=8&year=2021&date=12/8/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [40]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df15= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'8/12/2021','Source':Source[:164],'Destination':destination[:164],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df15

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,SpiceJet,8/12/2021,DEL Delhi,BLR Bangalore,06:15,21:10,14h 55m 1 Stop(s),1 Stop(s),"3,750"
1,SpiceJet,8/12/2021,Delhi,Bangalore,18:25,21:10,26h 45m 1 Stop(s),1 Stop(s),"3,750"
2,IndiGo,8/12/2021,Delhi,Bangalore,08:25,15:40,7h 15m 1 Stop(s),1 Stop(s),"3,753"
3,GO FIRST,8/12/2021,Delhi,Bangalore,12:45,19:20,6h 35m 1 Stop(s),1 Stop(s),"3,806"
4,SpiceJet,8/12/2021,Delhi,Bangalore,08:40,16:25,7h 45m 1 Stop(s),1 Stop(s),"3,895"
...,...,...,...,...,...,...,...,...,...
159,AirAsia India,8/12/2021,Delhi,Bangalore,15:40,21:45,6h 5m 1 Stop(s),1 Stop(s),"8,531"
160,AirIndia,8/12/2021,Delhi,Bangalore,16:15,16:45,24h 30m 2 Stop(s),2 Stop(s),"8,967"
161,AirIndia,8/12/2021,Delhi,Bangalore,11:00,11:10,24h 10m 2 Stop(s),2 Stop(s),"9,501"
162,SpiceJet,8/12/2021,Delhi,Bangalore,12:00,09:00,21h 0m 1 Stop(s),1 Stop(s),"9,664"
163,GO FIRST,8/12/2021,Delhi,Bangalore,10:45,15:10,4h 25m 1 Stop(s),1 Stop(s),"20,567"

In [41]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi,Delhi&sourceCity=Delhi&sourceCN=India&month=3&day=9&year=2022&date=3/9/2022&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [42]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df16= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'09/03/2022','Source':Source[:177],'Destination':destination[:177],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df16

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,09/03/2022,DEL Delhi,BOM Mumbai,02:30,04:40,2h 10m Non-Stop,Non-Stop,"2,456"
1,AirAsia India,09/03/2022,Delhi,Mumbai,04:25,06:35,2h 10m Non-Stop,Non-Stop,"2,456"
2,GO FIRST,09/03/2022,Delhi,Mumbai,07:00,09:10,2h 10m Non-Stop,Non-Stop,"2,456"
3,GO FIRST,09/03/2022,Delhi,Mumbai,08:00,10:10,2h 10m Non-Stop,Non-Stop,"2,456"
4,GO FIRST,09/03/2022,Delhi,Mumbai,02:00,04:15,2h 15m Non-Stop,Non-Stop,"2,456"
...,...,...,...,...,...,...,...,...,...
172,Vistara,09/03/2022,Delhi,Mumbai,07:05,10:00,26h 55m 1 Stop(s),1 Stop(s),"10,260"
173,Vistara,09/03/2022,Delhi,Mumbai,11:10,23:10,12h 0m 1 Stop(s),1 Stop(s),"10,470"
174,Vistara,09/03/2022,Delhi,Mumbai,18:40,14:45,20h 5m 1 Stop(s),1 Stop(s),"10,470"
175,Vistara,09/03/2022,Delhi,Mumbai,13:20,18:20,5h 0m 1 Stop(s),1 Stop(s),"10,680"
176,Vistara,09/03/2022,Delhi,Mumbai,16:15,18:20,26h 5m 1 Stop(s),1 Stop(s),"10,680"

In [43]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad,Hyderabad&sourceCity=Hyderabad&sourceCN=India&month=3&day=9&year=2022&date=3/9/2022&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [44]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df17= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'09/03/2022','Source':Source[:123],'Destination':destination[:123],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df17

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,09/03/2022,HYD Hyderabad,BOM Mumbai,22:15,23:55,1h 40m Non-Stop,Non-Stop,"2,301"
1,IndiGo,09/03/2022,Hyderabad,Mumbai,13:50,21:45,7h 55m 1 Stop(s),1 Stop(s),"2,301"
2,IndiGo,09/03/2022,Hyderabad,Mumbai,17:50,19:40,1h 50m Non-Stop,Non-Stop,"2,305"
3,IndiGo,09/03/2022,Hyderabad,Mumbai,20:15,22:05,1h 50m Non-Stop,Non-Stop,"2,305"
4,IndiGo,09/03/2022,Hyderabad,Mumbai,22:00,23:50,1h 50m Non-Stop,Non-Stop,"2,305"
...,...,...,...,...,...,...,...,...,...
118,Vistara,09/03/2022,Hyderabad,Mumbai,20:35,19:05,22h 30m 1 Stop(s),1 Stop(s),"10,784"
119,Vistara,09/03/2022,Hyderabad,Mumbai,20:35,20:05,23h 30m 1 Stop(s),1 Stop(s),"10,784"
120,Vistara,09/03/2022,Hyderabad,Mumbai,10:05,09:45,23h 40m 1 Stop(s),1 Stop(s),"10,784"
121,Vistara,09/03/2022,Hyderabad,Mumbai,17:40,17:40,24h 0m 1 Stop(s),1 Stop(s),"10,784"
122,Vistara,09/03/2022,Hyderabad,Mumbai,10:05,11:10,25h 5m 1 Stop(s),1 Stop(s),"10,784"

In [45]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad&sourceCity=&sourceCN=&month=11&day=9&year=2021&date=11/9/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [46]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df18= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'09/11/2021','Source':Source[:126],'Destination':destination[:126],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df18

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,09/11/2021,HYD Hyderabad,BOM Mumbai,00:45,06:45,6h 0m 1 Stop(s),1 Stop(s),"4,451"
1,AirAsia India,09/11/2021,Hyderabad,Mumbai,14:20,20:35,6h 15m 1 Stop(s),1 Stop(s),"4,451"
2,AirAsia India,09/11/2021,Hyderabad,Mumbai,00:45,07:15,6h 30m 1 Stop(s),1 Stop(s),"4,451"
3,AirAsia India,09/11/2021,Hyderabad,Mumbai,22:10,06:45,8h 35m 1 Stop(s),1 Stop(s),"4,451"
4,AirAsia India,09/11/2021,Hyderabad,Mumbai,22:10,07:15,9h 5m 1 Stop(s),1 Stop(s),"4,451"
...,...,...,...,...,...,...,...,...,...
121,AirIndia,09/11/2021,Hyderabad,Mumbai,06:00,19:45,13h 45m 1 Stop(s),1 Stop(s),"17,263"
122,AirIndia,09/11/2021,Hyderabad,Mumbai,13:05,19:45,6h 40m 2 Stop(s),2 Stop(s),"21,463"
123,AirIndia,09/11/2021,Hyderabad,Mumbai,11:15,22:10,10h 55m 1 Stop(s),1 Stop(s),"22,303"
124,AirIndia,09/11/2021,Hyderabad,Mumbai,06:25,17:05,10h 40m 1 Stop(s),1 Stop(s),"22,905"
125,AirIndia,09/11/2021,Hyderabad,Mumbai,16:15,22:10,5h 55m 1 Stop(s),1 Stop(s),"36,530"

In [47]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad&sourceCity=&sourceCN=&month=12&day=9&year=2021&date=12/9/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [50]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df19= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'09/12/2021','Source':Source[:119],'Destination':destination[:119],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df19

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,09/12/2021,HYD Hyderabad,BOM Mumbai,08:25,09:40,1h 15m Non-Stop,Non-Stop,"2,301"
1,IndiGo,09/12/2021,Hyderabad,Mumbai,15:10,19:55,4h 45m 1 Stop(s),1 Stop(s),"2,301"
2,IndiGo,09/12/2021,Hyderabad,Mumbai,04:30,05:50,1h 20m Non-Stop,Non-Stop,"2,305"
3,IndiGo,09/12/2021,Hyderabad,Mumbai,06:15,07:45,1h 30m Non-Stop,Non-Stop,"2,305"
4,IndiGo,09/12/2021,Hyderabad,Mumbai,10:45,12:15,1h 30m Non-Stop,Non-Stop,"2,305"
...,...,...,...,...,...,...,...,...,...
114,GO FIRST,09/12/2021,Hyderabad,Mumbai,09:00,17:00,8h 0m 1 Stop(s),1 Stop(s),"7,915"
115,AirAsia India,09/12/2021,Hyderabad,Mumbai,18:15,02:25,8h 10m 1 Stop(s),1 Stop(s),"10,354"
116,AirAsia India,09/12/2021,Hyderabad,Mumbai,16:10,02:25,10h 15m 1 Stop(s),1 Stop(s),"10,354"
117,AirAsia India,09/12/2021,Hyderabad,Mumbai,18:15,02:25,8h 10m 1 Stop(s),1 Stop(s),"11,115"
118,AirAsia India,09/12/2021,Hyderabad,Mumbai,16:10,02:25,10h 15m 1 Stop(s),1 Stop(s),"11,115"

In [51]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=COK&bdestination=COK&destinationL=Cochin,Cochin&destinationCity=Cochin&destinationCN=India&source=PNQ&bsource=PNQ&sourceL=Pune,Pune&sourceCity=Pune&sourceCN=India&month=12&day=15&year=2021&date=12/15/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [52]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df20= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'15/12/2021','Source':Source[:156],'Destination':destination[:156],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df20

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,15/12/2021,PNQ Pune,COK Cochin,18:15,22:35,4h 20m 1 Stop(s),1 Stop(s),"3,376"
1,AirAsia India,15/12/2021,Pune,Cochin,19:25,22:20,2h 55m 1 Stop(s),1 Stop(s),"3,437"
2,IndiGo,15/12/2021,Pune,Cochin,09:45,11:25,1h 40m Non-Stop,Non-Stop,"3,438"
3,IndiGo,15/12/2021,Pune,Cochin,14:00,20:50,6h 50m 1 Stop(s),1 Stop(s),"3,765"
4,IndiGo,15/12/2021,Pune,Cochin,14:00,22:35,8h 35m 1 Stop(s),1 Stop(s),"3,765"
...,...,...,...,...,...,...,...,...,...
151,Multiple Airlines,15/12/2021,Pune,Cochin,08:10,09:05,24h 55m 2 Stop(s),2 Stop(s),"10,096"
152,Multiple Airlines,15/12/2021,Pune,Cochin,08:10,09:05,24h 55m 2 Stop(s),2 Stop(s),"10,176"
153,Multiple Airlines,15/12/2021,Pune,Cochin,08:10,09:05,24h 55m 2 Stop(s),2 Stop(s),"10,266"
154,Multiple Airlines,15/12/2021,Pune,Cochin,15:05,17:20,26h 15m 2 Stop(s),2 Stop(s),"10,959"
155,AirIndia,15/12/2021,Pune,Cochin,16:20,17:20,25h 0m 3 Stop(s),3 Stop(s),"11,534"

In [53]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=COK&bdestination=COK&destinationL=Cochin&destinationCity=&destinationCN=&source=PNQ&bsource=PNQ&sourceL=Pune&sourceCity=&sourceCN=&month=11&day=18&year=2021&date=11/18/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [56]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df21= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'18/11/2021','Source':Source[:128],'Destination':destination[:128],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df21

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,18/11/2021,PNQ Pune,COK Cochin,19:25,22:20,2h 55m 1 Stop(s),1 Stop(s),"5,430"
1,AirAsia India,18/11/2021,Pune,Cochin,19:25,07:00,11h 35m 1 Stop(s),1 Stop(s),"5,431"
2,IndiGo,18/11/2021,Pune,Cochin,09:45,11:25,1h 40m Non-Stop,Non-Stop,"5,433"
3,IndiGo,18/11/2021,Pune,Cochin,17:45,22:10,4h 25m 1 Stop(s),1 Stop(s),"5,433"
4,IndiGo,18/11/2021,Pune,Cochin,08:10,13:35,5h 25m 1 Stop(s),1 Stop(s),"5,433"
...,...,...,...,...,...,...,...,...,...
123,Multiple Airlines,18/11/2021,Pune,Cochin,08:15,21:05,12h 50m 2 Stop(s),2 Stop(s),"19,671"
124,Multiple Airlines,18/11/2021,Pune,Cochin,08:15,21:05,12h 50m 2 Stop(s),2 Stop(s),"19,671"
125,Multiple Airlines,18/11/2021,Pune,Cochin,08:15,19:15,11h 0m 2 Stop(s),2 Stop(s),"20,616"
126,Multiple Airlines,18/11/2021,Pune,Cochin,08:15,19:15,11h 0m 2 Stop(s),2 Stop(s),"20,616"
127,Multiple Airlines,18/11/2021,Pune,Cochin,14:45,17:20,26h 35m 2 Stop(s),2 Stop(s),"20,858"

In [57]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=COK&bsource=COK&sourceL=Cochin,Cochin&sourceCity=Cochin&sourceCN=India&month=12&day=22&year=2021&date=12/22/2021&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [61]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements_by_xpath('//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')
#Making dataframe
# creating a pandas dataframe
df22= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'22/12/2021','Source':Source[:260],'Destination':destination[:260],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df22

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,22/12/2021,COK Cochin,BLR Bangalore,07:35,08:35,1h 0m Non-Stop,Non-Stop,"2,049"
1,AirAsia India,22/12/2021,Cochin,Bangalore,21:25,22:25,1h 0m Non-Stop,Non-Stop,"2,049"
2,IndiGo,22/12/2021,Cochin,Bangalore,22:00,23:00,1h 0m Non-Stop,Non-Stop,"2,049"
3,IndiGo,22/12/2021,Cochin,Bangalore,11:25,12:30,1h 5m Non-Stop,Non-Stop,"2,049"
4,AirAsia India,22/12/2021,Cochin,Bangalore,14:45,15:50,1h 5m Non-Stop,Non-Stop,"2,049"
...,...,...,...,...,...,...,...,...,...
255,Multiple Airlines,22/12/2021,Cochin,Bangalore,13:45,10:50,21h 5m 2 Stop(s),2 Stop(s),"16,208"
256,Multiple Airlines,22/12/2021,Cochin,Bangalore,13:45,10:50,21h 5m 2 Stop(s),2 Stop(s),"16,208"
257,Multiple Airlines,22/12/2021,Cochin,Bangalore,09:35,10:50,25h 15m 2 Stop(s),2 Stop(s),"16,208"
258,Multiple Airlines,22/12/2021,Cochin,Bangalore,09:35,10:50,25h 15m 2 Stop(s),2 Stop(s),"16,208"
259,Multiple Airlines,22/12/2021,Cochin,Bangalore,15:05,17:05,26h 0m 2 Stop(s),2 Stop(s),"16,208"

In [60]:
len(airline_name),len(Source),len(destination),len(stops),len(depature_time),len(arrival_time),len(duration),len(price)

(260, 262, 262, 260, 260, 260, 260, 260)

### concatinating the dataframes

In [62]:
data=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22],ignore_index=True)

In [63]:
data

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Air Asia,12/11/2021,New Delhi,Mumbai,20:00,02:25\n+ 1 day,6h 25m,1 Stop,"5,953"
1,Air Asia,12/11/2021,New Delhi,Mumbai,21:25,06:45\n+ 1 day,9h 20m,1 Stop,"5,953"
2,Air Asia,12/11/2021,New Delhi,Mumbai,21:25,07:15\n+ 1 day,9h 50m,1 Stop,"5,953"
3,Air Asia,12/11/2021,New Delhi,Mumbai,20:45,06:45\n+ 1 day,10h 00m,1 Stop,"5,953"
4,Air Asia,12/11/2021,New Delhi,Mumbai,20:45,07:15\n+ 1 day,10h 30m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
3430,Multiple Airlines,22/12/2021,Cochin,Bangalore,13:45,10:50,21h 5m 2 Stop(s),2 Stop(s),"16,208"
3431,Multiple Airlines,22/12/2021,Cochin,Bangalore,13:45,10:50,21h 5m 2 Stop(s),2 Stop(s),"16,208"
3432,Multiple Airlines,22/12/2021,Cochin,Bangalore,09:35,10:50,25h 15m 2 Stop(s),2 Stop(s),"16,208"
3433,Multiple Airlines,22/12/2021,Cochin,Bangalore,09:35,10:50,25h 15m 2 Stop(s),2 Stop(s),"16,208"
3434,Multiple Airlines,22/12/2021,Cochin,Bangalore,15:05,17:05,26h 0m 2 Stop(s),2 Stop(s),"16,208"

### Saving into execl file

In [64]:
# writing to Excel
datatoexcel = pd.ExcelWriter('flight_price_prediction.xlsx')
  
# write DataFrame to excel
data.to_excel(datatoexcel)
  
# save to excel
datatoexcel.save()